<% if issues.any? %>
  <% @version_board = true %>
  <% issues.each do |issue| %>
    <%= render partial: 'agile_boards/issue_card', locals: { issue: issue } %>
  <% end %>

  <% if page %>
    <div class="load_more">
      <div class="pagination-wrapper">
        <span class="pagination">
          <%= link_to l(:label_agile_planning_board_more), more_url, remote: true %>
        </span>
      </div>
    </div>
  <% end %>
<% end %>
