<h2><%= l(:label_agile_sprint_query_new) %></h2>

<%= form_tag(project_agile_sprint_queries_path(@project)) do %>
  <%= render :partial => 'form', :locals => {:query => @query} %>
  <%= submit_tag l(:button_save) %>
<% end %>
